html {
  height: 100%;
}

body {
  margin: 0; height: 100%; position: relative;
}

#firepad-container {
  width: 85%;
  height: 75%;
  margin-left: 15%;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  position: absolute; left: 0; top: 0; bottom: 0; right: 0;
  min-width: 600px;
}

#lock-btn {
  font-size: 25px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 10;
  background-color: #FFF0C4;
  border-color: #ECD080;
}
#lock-btn:hover {
  background-color: #ECD080;
}

#help-btn {
  font-size: 14px; 
  font-weight: bold;
  right: 10px;
  bottom: 10px;
  position: absolute;
  z-index: 100;
}

#console {
  width: 85%;
  height: 25%;
  right: 0;
  margin-left: 15%;
  border: 1px solid #FFF;
  position: absolute; bottom: 0;
  min-width: 600px;
  background-color: #F0F0F0;
}



#title {
  text-align: center;
}


.btn-lg {
  position: relative;
  margin-top: 5px;
  text-align: center;
}

#console-text {
  margin-left: 5px;
  font-family: monospace;
  font-size: 15px;
}

#userlist {
  position: absolute;
  top: 350px;
  height: 320px;
  width: 15%;
}

#left-panel {
  margin-left: 0px;
  width: 15%;
  height: 100%;
  position: absolute;
  min-width: 175px;
  float: left;
  /*background-color: #C1D2DD;*/
}

@media screen and ( max-width: 1166px ){
    #firepad-container { margin-left: 175px; }
    #console { left: 170px; }
}

#dropbtn {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 175px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 100;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

/*.dropdown:hover #dropbtn {
    background-color: #616468;
}*/


